[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/makinori-dev/lua.git
[submodule "lib/libwebsockets"]
	path = lib/libwebsockets
	url = https://github.com/makinori-dev/libwebsockets.git
