section > dl.c {
  padding-bottom: 12pt;
}

.field-list.simple dd:not(:first-of-type),
.field-list.simple dt:not(:first-of-type) {
  margin-top: 6pt;
}

.field-list.simple .line-block {
  margin-top: 0;
  margin-bottom: 0;
}

.container.comic1 {
  padding-top: 12pt;
}
